In [11]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os

family_data = pd.read_csv('./data/family_data.csv')
sample_submission = pd.read_csv('./data/sample_submission.csv')

In [12]:
family_data.head(10)

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people
0,0,52,38,12,82,33,75,64,76,10,28,4
1,1,26,4,82,5,11,47,38,6,66,61,4
2,2,100,54,25,12,27,82,10,89,80,33,3
3,3,2,95,1,96,32,6,40,31,9,59,2
4,4,53,1,47,93,26,3,46,16,42,39,4
5,5,32,59,12,3,60,26,35,50,5,2,4
6,6,88,4,1,3,91,32,39,57,28,99,2
7,7,25,11,52,48,10,17,88,50,95,66,5
8,8,18,60,1,12,89,33,16,10,53,67,4
9,9,1,88,39,50,26,18,96,47,46,28,7

In [13]:
sample_submission.head(10)

   family_id  assigned_day
0          0           100
1          1            99
2          2            98
3          3            97
4          4            96
5          5            95
6          6            94
7          7            93
8          8            92
9          9            91